.loader-holder {
    &.loading {
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.2);
        width: 100%;
        height: 100%;
        background-image: url('/assets/img/ajax-loader.gif');
        background-repeat: no-repeat;
        background-position: center;
        z-index: 99999999999999;
    }
}
