@import '../../../styles/vars';
// header
.main-header,
.main-header-debug {
    cursor: default;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    .header-tools {
        padding: 15px 15px;
        background-color: $themeColor;
        .link {
            display: inline-block;
            vertical-align: middle;
            margin-top: 2px;
            color: #fff;
            text-transform: uppercase;
            &:hover {
                color: lighten($themeColor, 30%);
            }
        }
        .logo {
            .App-logo {
                width: 120px;
            }
        }
        .lang-link {
            vertical-align: middle;
            display: inline-block;
            margin: 0 2px;
            display: inline-block;
            &.active {
                display: none;
            }
            img {
                width: 20px;
            }
        }
        .seprator {
            display: inline-block;
            color: #fff;
            margin: 0 5px;
            font-size: 1.5em;
            vertical-align: middle;
        }
    }
    .main-nav {
        background-color: rgb(235, 235, 235);
        padding: 5px 15px;
        border-bottom: 1px solid #aca8a8;
        .main-nav-list {
            margin: 0;
            padding: 0;
            li {
                display: inline-block;
                vertical-align: middle;
                padding-right: 5px;
                .link {
                    padding: 5px 10px;
                    border-radius: 5px;
                    color: #000;
                    transition: all 300ms ease-in-out;
                    &:hover {
                        color: #fff;
                        background-color: #555;
                        box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.3);
                    }
                    &.active,
                    &:active {
                        color: #fff;
                        background-color: lighten($themeColor, 30%);
                        box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.3);
                    }
                }
            }
        }
    }
}

.main-header-debug {
    .header-tools {
        background-color: maroon;
        .link {
            &:hover {
                color: lighten(maroon, 30%);
            }
        }
    }
    .main-nav {
        .main-nav-list {
            li {
                .link {
                    &.active,
                    &:active {
                        background-color: lighten(maroon, 30%);
                    }
                }
            }
        }
    }
}

.no-devlabel {
    color: transparent;
    font-size: 0px;
}

.show-devlabel {
    color: white;
    text-align: center;
    margin: 0px;
    font-size: 15px;
    display: block;
    margin-bottom: -15px;
}
