.dashboard-page {
    position: relative;
    min-height: calc(100vh - 101px);
    &.page-layout {
        margin-top: 0;
        margin-bottom: 0;
    }
    .dashboard-bg {
        width: 100%;
        max-height: calc(100vh - 101px);
        object-fit: cover;
    }
    .clock {
        position: absolute;
        right: 20px;
        bottom: 50px;
        color: black;
        font-size: 30px;
        font-weight: bold;
        color: white;
    }
    .welcomeText {
        color: black;
        font-size: 50px;
        font-weight: bold;
        color: white;
    }
    .companyLogo {
        position: absolute;
        text-align: center;
        top: 50%;
        width: 100%;
        margin-top: -187.5px;
    }
}
