.user-holder {
    .user-title {
        font-size: 12px;
        font-weight: bold;
    }
    .user-info {
        background: #fff;
        border: 1px solid #ccc;
        padding: 10px;
        margin-top: 5px;
        .user-img-holder {
            .user-img {
                width: 50px;
                height: 50px;
                object-fit: contain;
                border-radius: 50%;
            }
        }
        .user-name {
            font-weight: bold;
        }
    }
}
