.ico {
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: middle;
    line-height: 300px;
    overflow: hidden;
}

.ico-btn {
	position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    &:hover {
        color: #27b1bb;
    }
    .fa {
        display: inline-block;
		font-size: 45px;
		width: 100%;
    }
    .txt {
        color: #000;
        font-size: 10px;
    }
}
