// BLOCK INPUT
.input-block {
    display: block;
    width: 100%;
}

// SELECT 2 STYLE
.select2 {
    vertical-align: top;
}

// PHONE INPUT
.react-tel-input input[type=tel] {
    width: 100%;
}

// FILE INPUTS TO HIDE
.hide-file-input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    cursor: pointer;
}

// BOOTSTRAP PRIMARY BUTTON COLOR
.btn-primary {
    background-color: lighten($themeColor, 10%) !important;
}
