// SmartAdmin Styles
@import '/assets/css/bootstrap.min.css';
@import '/assets/css/font-awesome.min.css';
// SmartAdmin Styles : Caution! DO NOT change the order
@import '/assets/css/smartadmin-production-plugins.min.css';
@import '/assets/css/smartadmin-production.min.css';
@import '/assets/css/smartadmin-skins.min.css';
@import '/assets/css/smartadmin-react.css';
// FONTS
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
// CUSTOM
@import './vars';
@import './util';
@import './icons';
@import './colors';
@import './inputs';
// GLOBAL
html,
body,
input,
textarea,
button {
    font-family: 'Open Sans', sans-serif;
    background: #fff;
}

// ALL PAGES
.page-layout {
    margin: 30px 0;
}

// GRID STYLES
.grid-st1 {
    width: 100%;
    height: 500px;
    margin-bottom: 30px;
}

// LINKS
.link-st {
    &.link-st1 {
        color: dodgerblue;
        font-size: 15px;
        &:hover {
            color: #000;
        }
    }
}

.widget--st1 {
    background-color: rgb(5, 94, 100);
    color: #fff;
    padding: 15px;
    .title {
        margin: 0 0 5px;
        color: #fff;
        text-align: right;
        small {
            color: #fff;
        }
    }
}

// puts the google places autocomplete dropdown results above the bootstrap modal 1050 zindex.
.pac-container {
    z-index: 1051 !important;
}
