// SPACES
$spaces:(0, 5, 6, 8, 10, 15, 20, 25, 30, 35, 40, 45, 50, 59, 90, 95, 100);
// MARGINS
@each $marginSpace in $spaces {
    $important: if($marginSpace==0, '!important', '');
    .m-#{$marginSpace} {
        margin: $marginSpace + px + $important;
    }
    .mr-#{$marginSpace} {
        margin-right: $marginSpace + px + $important;
    }
    .mt-#{$marginSpace} {
        margin-top: $marginSpace + px + $important;
    }
    .mb-#{$marginSpace} {
        margin-bottom: $marginSpace + px + $important;
    }
    .ml-#{$marginSpace} {
        margin-left: $marginSpace + px + $important;
    }
}

// PADDINGS
@each $paddingSpace in $spaces {
    $important: if($paddingSpace==0, '!important', '');
    .p-#{$paddingSpace} {
        padding: $paddingSpace + px + $important;
    }
    .pr-#{$paddingSpace} {
        padding-right: $paddingSpace + px + $important;
    }
    .pt-#{$paddingSpace} {
        padding-top: $paddingSpace + px + $important;
    }
    .pb-#{$paddingSpace} {
        padding-bottom: $paddingSpace + px + $important;
    }
    .pl-#{$paddingSpace} {
        padding-left: $paddingSpace + px + $important;
    }
}

// RELATIVE CLASS
.relative {
    position: relative;
}
