.info-holder {
    .info-title {
        font-size: 12px;
        font-weight: bold;
    }
    .info-info {
        background: #fff;
        border: 1px solid #ccc;
        padding: 10px;
        margin-top: 5px;
        .info-img-holder {
            .info-img {
                width: 50px;
                height: 50px;
                object-fit: contain;
                border-radius: 50%;
            }
        }
        .info-name {
            font-weight: bold;
        }
    }
}
