.company-holder {
    .company-info {
        .company-img-holder {
            .company-ico {
                margin: 20px;
            }
            .company-img {
                margin: 20px;
                width: 100px;
                height: 100px;
                object-fit: contain;
                border-radius: 50%;
            }
        }
    }
}
