.profile-image {
    .img-holder {
        width:90px;
        height:90px;
        overflow: hidden;
        border: 2px solid black;
        border-radius: 50%;
        position: relative;
        .img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .username {
        display: inline-block;
        vertical-align: middle;
        font-size: 30px;
        word-wrap: none;
        color: #000;
    }
}
