@import '../../styles/vars';
.customer-info {
    .widget-body {
        background-color: $themeColor;
        .smart-form fieldset {
            background: transparent;
            label {
                color: #fff;
            }
        }
    }
}
