.imageCard-holder {
    .imageCard-title {
        font-size: 12px;
        font-weight: bold;
    }
    .imageCard-info {
        background: white;
        border: 1px solid #ccc;
        padding: 10px;
        margin-top: 5px;
        .imageCard-img-holder {
            .imageCard-img {
                width: 50px;
                height: 50px;
                object-fit: contain;
                border-radius: 50%;
            }
        }
        .imageCard-name {
            font-weight: bold;
        }
    }
}
