.company-image {
    .company-img-holder {
        margin: 0 auto;
        width: 300px;
        height: 300px;
        overflow: hidden;
        border: 2px solid black;
        border-radius: 50%;
        background-color: white;
        .company-img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
